// @import '../../../style.scss';

// .css-1wvake5 {

//     @include tablet {
//         min-width: 210px !important;

//         &.ps-collapsed {
//             min-width: 80px !important;
//         }
//     }
// }

.sidebar {
  height: 100vh;
  width: 100px !important;
  position: sticky !important;
  top: 0;
  z-index: 999;

  // @include mobile {
  //     display: none;
  // }

  .menu {
    width: 100%;
    height: 100%;
    font-family: "Source Sans Pro", sans-serif;
    background: #EBF2FF;
    // background: #3475aa;
    overflow: scroll;
    padding: 20px 0;

    .header {
        margin-bottom: 80px;
        display: flex;
        justify-content: center;

    //   .logo {
    //     display: flex;
    //     color: #fff;
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between;
    //     gap: 60px;
    //     // @include tablet {
    //     //     gap: 75px;
    //     // }

    //     img {
    //       width: 120px;
    //       height: fit-content;
    //       margin-top: 10px;

    //       // @include tablet {
    //       //     width: 90px;
    //       // }
    //     }
    //   }
    }

    .navigation, .setting {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-bottom: 80px;
      .item {
        img{
            width: 24px;
            height: 24px;
        }
      }
    }
    .setting{
        margin-bottom: 0;
        gap: 20px;
    }

    // .css-16jkw2k {
    //     background: #01522d;

    // }

    // .css-16jkw2k>.ps-menu-button {
    //     color: #d1d1d1;

    //     &:hover {
    //         background: #01522d;
    //         color: #fff;
    //     }

    //     transition: all ease 0.3s;
    //     -webkit-transition: all ease 0.3s;
    //     -moz-transition: all ease 0.3s;
    //     -ms-transition: all ease 0.3s;
    //     -o-transition: all ease 0.3s;
    // }

    // .css-16jesut>.ps-menu-button {
    //     color: #d1d1d1;
    //     font-size: 19px;
    //     font-weight: 600;

    //     &:hover {
    //         background: #01522d;
    //         color: #fff;
    //     }

    //     transition: all ease 0.3s;
    //     -webkit-transition: all ease 0.3s;
    //     -moz-transition: all ease 0.3s;
    //     -ms-transition: all ease 0.3s;
    //     -o-transition: all ease 0.3s;
    // }

    // .css-16jesut {
    //     padding-left: 3px;
    // }

    // .css-eh8qic>.ps-menu-button {
    //     background: rgba(210, 251, 164, 0.6);
    //     color: #000;
    // }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.css-1wvake5 {
  border-right-width: 0 !important;
}
