.dashboard {
  padding: 20px 0;
  .counts {
    display: flex;
    flex-direction: column;
    padding: 33px 8px 33px 22px;

    &:nth-child(1) {
      background: #438eff;
    }
    &:nth-child(2) {
      background: #3a6cb6;
    }
    &:nth-child(3) {
      background: #6083b8;
    }

    span {
      font-size: 28px;
      font-family: "Outfit";
      font-weight: 600;
      color: #fff;
    }
    p {
      font-size: 16px;
      font-family: "Outfit";
      font-weight: 400;
      color: #f3f3f3;
    }
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  .info_header {
    display: flex;
    align-items: center;
    padding: 10px 32px;
    gap: 19px;

    h2 {
      font-size: 20px;
      font-family: "Outfit";
      font-weight: 600;
      color: #fff;
    }
    &.vehicle_header {
        padding: 0;
        h2 {
          color: #1a1a1a;
        }
    }
  }
  .reports {
    width: 100%;
    max-height: 420px;
    overflow: scroll;

    .report_item {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 0 35px;
      height: 70px;

      .repo_title {
        flex: 3;
        display: flex;
        align-items: center;
        gap: 19px;
        font-size: 16px;
        font-family: "Outfit";
        font-weight: 600;

        span {
          width: 30px;
          height: 30px;
          background: #fff;
          color: #438eff;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
        }
        p {
          line-height: 24px;
          color: #fff;
        }
      }
      .repo_link {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 20px;

        span {
          color: #fff;
          width: 100px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-left: 1px solid #74abff;
          border-right: 1px solid #74abff;
        }
      }
    }
  }
  .driver_user{
    display: flex;
    flex-direction: column;
    align-items: center;

    .driver_info{
        padding-top: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .risk{
            padding-top: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: 400;
        }
    }
  }
  .vehicles{
    height: 370px;
    .vehicle_list{
      height: 250px;
      overflow: scroll;
    }
  }
  .drivers{
    height: 380px;
    .driver_list{
      height: 340px;
      overflow: scroll;

    }
  }

  .dashboard_map{
    width: 100%;
    height: 490px;
    margin-top: 20px;
  }
}
